<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>   
    <servlet>
        <servlet-name>success</servlet-name>
        <jsp-file>/success.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>success</servlet-name>
        <url-pattern>/success</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>error</servlet-name>
        <jsp-file>/error.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>error</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>login_page</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>login_page</servlet-name>
        <url-pattern>/login_page</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>dashboard</servlet-name>
        <jsp-file>/dashboard.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>statusType</servlet-name>
        <jsp-file>/view/BasicDataEntry/statusType.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>statusType</servlet-name>
        <url-pattern>/statusType</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>radioexternalparams</servlet-name>
        <jsp-file>/view/BasicDataEntry/radioexternalparams.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>radioexternalparams</servlet-name>
        <url-pattern>/radioexternalparams</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>radiointernalparams</servlet-name>
        <jsp-file>/view/BasicDataEntry/radiointernalparams.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>radiointernalparams</servlet-name>
        <url-pattern>/radiointernalparams</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>type_of_communication</servlet-name>
        <jsp-file>/view/BasicDataEntry/type_of_communication.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>type_of_communication</servlet-name>
        <url-pattern>/type_of_communication</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>wifiparams</servlet-name>
        <jsp-file>/view/BasicDataEntry/wifiparams.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>wifiparams</servlet-name>
        <url-pattern>/wifiparams</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>pdaparams</servlet-name>
        <jsp-file>/view/BasicDataEntry/pdaparams.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>pdaparams</servlet-name>
        <url-pattern>/pdaparams</url-pattern>
    </servlet-mapping>
      <servlet>
        <servlet-name>via4gparams</servlet-name>
        <jsp-file>/view/BasicDataEntry/via4gparams.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>via4gparams</servlet-name>
        <url-pattern>/via4gparams</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>projectStatus</servlet-name>
        <jsp-file>/view/BasicDataEntry/projectStatus.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>projectStatus</servlet-name>
        <url-pattern>/projectStatus</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>maskangle</servlet-name>
        <jsp-file>/view/BasicDataEntry/maskangle.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>maskangle</servlet-name>
        <url-pattern>/maskangle</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>manualBase</servlet-name>
        <jsp-file>/view/BasicDataEntry/manualBase.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>manualBase</servlet-name>
        <url-pattern>/manualBase</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>hemisphere</servlet-name>
        <jsp-file>/view/BasicDataEntry/hemisphere.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>hemisphere</servlet-name>
        <url-pattern>/hemisphere</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>continents</servlet-name>
        <jsp-file>/view/BasicDataEntry/continents.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>continents</servlet-name>
        <url-pattern>/continents</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>countries</servlet-name>
        <jsp-file>/view/BasicDataEntry/countries.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>countries</servlet-name>
        <url-pattern>/countries</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>datumType</servlet-name>
        <jsp-file>/view/BasicDataEntry/datumType.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>datumType</servlet-name>
        <url-pattern>/datumType</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>datum</servlet-name>
        <jsp-file>/view/BasicDataEntry/datum.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>datum</servlet-name>
        <url-pattern>/datum</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>constellation</servlet-name>
        <jsp-file>/view/BasicDataEntry/constellation.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>constellation</servlet-name>
        <url-pattern>/constellation</url-pattern>
    </servlet-mapping>
    

    <servlet>
        <servlet-name>angleunit</servlet-name>
        <jsp-file>/view/BasicDataEntry/angleunit.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>angleunit</servlet-name>
        <url-pattern>/angleunit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>projectionType</servlet-name>
        <jsp-file>/view/BasicDataEntry/projectionType.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>projectionType</servlet-name>
        <url-pattern>/projectionType</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>projectionParameter</servlet-name>
        <jsp-file>/view/BasicDataEntry/projectionParameter.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>projectionParameter</servlet-name>
        <url-pattern>/projectionParameter</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>elevationType</servlet-name>
        <jsp-file>/view/BasicDataEntry/elevationType.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>elevationType</servlet-name>
        <url-pattern>/elevationType</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>zonedata</servlet-name>
        <jsp-file>/view/BasicDataEntry/zonedata.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>zonedata</servlet-name>
        <url-pattern>/zonedata</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>distanceunit</servlet-name>
        <jsp-file>/view/BasicDataEntry/distanceunit.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>distanceunit</servlet-name>
        <url-pattern>/distanceunit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>codelist_icon_mapping</servlet-name>
        <jsp-file>/view/Project/codelist_icon_mapping.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>codelist_icon_mapping</servlet-name>
        <url-pattern>/codelist_icon_mapping</url-pattern>     
    </servlet-mapping>
    <servlet>
        <servlet-name>client_base_rover_registeration_map</servlet-name>
        <jsp-file>/view/Project/client_base_rover_registeration_map.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>client_base_rover_registeration_map</servlet-name>
        <url-pattern>/client_base_rover_registeration_map</url-pattern>     
    </servlet-mapping>
    <servlet>
        <servlet-name>client</servlet-name>
        <jsp-file>/view/Project/client.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>client</servlet-name>
        <url-pattern>/client</url-pattern>     
    </servlet-mapping>
    <servlet>
        <servlet-name>project_client_dev_map</servlet-name>
        <jsp-file>/view/Project/project_client_dev_map.jsp</jsp-file>  
    </servlet>
    <servlet-mapping>
        <servlet-name>project_client_dev_map</servlet-name>
        <url-pattern>/project_client_dev_map</url-pattern>     
    </servlet-mapping>
    <servlet>
        <servlet-name>project_details</servlet-name>
        <jsp-file>/view/Project/project_details.jsp</jsp-file>  
    </servlet>
    <servlet-mapping>
        <servlet-name>project_details</servlet-name>
        <url-pattern>/project_details</url-pattern>     
    </servlet-mapping>
    <servlet>
        <servlet-name>project_details_code_list_mapping</servlet-name>
        <jsp-file>/view/Project/project_details_code_list_mapping.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>project_details_code_list_mapping</servlet-name>
        <url-pattern>/project_details_code_list_mapping</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>form</servlet-name>
        <jsp-file>/view/formData/form.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>form</servlet-name>
        <url-pattern>/form</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>FileType</servlet-name>
        <jsp-file>/view/formData/FileType.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileType</servlet-name>
        <url-pattern>/FileType</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>column_type</servlet-name>
        <jsp-file>/view/formData/column_type.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>column_type</servlet-name>
        <url-pattern>/column_type</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>column_subtype</servlet-name>
        <jsp-file>/view/formData/column_subtype.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>column_subtype</servlet-name>
        <url-pattern>/column_subtype</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>drive</servlet-name>
        <jsp-file>/view/formData/drive.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>drive</servlet-name>
        <url-pattern>/drive</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>formMapping</servlet-name>
        <jsp-file>/view/formData/formMapping.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>formMapping</servlet-name>
        <url-pattern>/formMapping</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>formMappingAdd</servlet-name>
        <jsp-file>/view/formData/formMappingAdd.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>formMappingAdd</servlet-name>
        <url-pattern>/formMappingAdd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>selectionValueMapping</servlet-name>
        <jsp-file>/view/formData/selectionValueMapping.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>selectionValueMapping</servlet-name>
        <url-pattern>/selectionValueMapping</url-pattern>

    </servlet-mapping>
    <servlet>
        <servlet-name>dynamicForm</servlet-name>
        <jsp-file>/view/formData/dynamicForm.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>dynamicForm</servlet-name>
        <url-pattern>/dynamicForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>showData</servlet-name>
        <jsp-file>/view/formData/showData.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>showData</servlet-name>
        <url-pattern>/showData</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>static_params</servlet-name>
        <jsp-file>/view/BasicDataEntry/static_params.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>static_params</servlet-name>
        <url-pattern>/static_params</url-pattern>   
    </servlet-mapping>
    <servlet>
        <servlet-name>ppk_params</servlet-name>
        <jsp-file>/view/BasicDataEntry/ppk_params.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ppk_params</servlet-name>
        <url-pattern>/ppk_params</url-pattern>      
    </servlet-mapping>
    <servlet>
        <servlet-name>dynamic_mode_data</servlet-name>
        <jsp-file>/view/BasicDataEntry/dynamic_mode_data.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>dynamic_mode_data</servlet-name>
        <url-pattern>/dynamic_mode_data</url-pattern>      
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ntrip_base</servlet-name>
        <jsp-file>/view/BasicDataEntry/ntrip_base.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ntrip_base</servlet-name>
        <url-pattern>/ntrip_base</url-pattern>      
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ntrip_rover</servlet-name>
        <jsp-file>/view/BasicDataEntry/ntrip_rover.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ntrip_rover</servlet-name>
        <url-pattern>/ntrip_rover</url-pattern>      
    </servlet-mapping>
    <servlet>
        <servlet-name>project_folder</servlet-name>
        <jsp-file>/view/BasicDataEntry/project_folder.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>project_folder</servlet-name>
        <url-pattern>/project_folder</url-pattern>      
    </servlet-mapping>   
    <servlet>
        <servlet-name>site_calibration</servlet-name>
        <jsp-file>/view/BasicDataEntry/site_calibration.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>site_calibration</servlet-name>
        <url-pattern>/site_calibration</url-pattern>      
    </servlet-mapping>    
    
    <servlet>
        <servlet-name>surveyer_project_map</servlet-name>
        <jsp-file>/view/SurveyData/surveyer_project_map.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>surveyer_project_map</servlet-name>
        <url-pattern>/surveyer_project_map</url-pattern>      
    </servlet-mapping>   
    
    <servlet>
        <servlet-name>survey_configuration</servlet-name>
        <jsp-file>/view/Configuration/survey_configuration.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>survey_configuration</servlet-name>
        <url-pattern>/survey_configuration</url-pattern>       
    </servlet-mapping>   
    
    <servlet>
        <servlet-name>dynamic_project_config</servlet-name>
        <jsp-file>/view/Configuration/dynamic_project_config.jsp</jsp-file>   
    </servlet>
    <servlet-mapping>
        <servlet-name>dynamic_project_config</servlet-name>
        <url-pattern>/dynamic_project_config</url-pattern>       
    </servlet-mapping>  
    <servlet>
        <servlet-name>miscellaneous_configuration</servlet-name>
        <jsp-file>/view/Configuration/miscellaneous_configuration.jsp</jsp-file>   
    </servlet>
    <servlet-mapping>
        <servlet-name>miscellaneous_configuration</servlet-name>
        <url-pattern>/miscellaneous_configuration</url-pattern>       
    </servlet-mapping>
    <servlet>
        <servlet-name>satellite_configuration</servlet-name>
        <jsp-file>/view/Configuration/satellite_configuration.jsp</jsp-file>   
    </servlet>
    <servlet-mapping>
        <servlet-name>satellite_configuration</servlet-name>  
        <url-pattern>/satellite_configuration</url-pattern>       
    </servlet-mapping>
    <servlet>
        <servlet-name>satellite_configuration_constellation_mapping</servlet-name>
        <jsp-file>/view/Configuration/satellite_configuration_constellation_mapping.jsp</jsp-file>    
    </servlet>
    <servlet-mapping>
        <servlet-name>satellite_configuration_constellation_mapping</servlet-name>  
        <url-pattern>/satellite_configuration_constellation_mapping</url-pattern>       
    </servlet-mapping>
    
     <servlet>
        <servlet-name>communication_type_mapping</servlet-name>
        <jsp-file>/view/Configuration/communication_type_mapping.jsp</jsp-file>      
    </servlet>
    <servlet-mapping>
        <servlet-name>communication_type_mapping</servlet-name>  
        <url-pattern>/communication_type_mapping</url-pattern>       
    </servlet-mapping>
    <servlet>
        <servlet-name>device_confighierarchy</servlet-name>
        <jsp-file>/view/Configuration/device_confighierarchy.jsp</jsp-file>      
    </servlet>
    <servlet-mapping>
        <servlet-name>device_confighierarchy</servlet-name>  
        <url-pattern>/device_confighierarchy</url-pattern>       
    </servlet-mapping>
    <servlet>
        <servlet-name>device_configuration</servlet-name>
        <jsp-file>/view/Configuration/device_configuration.jsp</jsp-file>      
    </servlet>
    <servlet-mapping>
        <servlet-name>device_configuration</servlet-name>  
        <url-pattern>/device_configuration</url-pattern>       
    </servlet-mapping>
     <servlet>
        <servlet-name>project_configuration_mapping</servlet-name>
        <jsp-file>/view/Configuration/project_configuration_mapping.jsp</jsp-file>      
    </servlet>
    <servlet-mapping>
        <servlet-name>project_configuration_mapping</servlet-name>  
        <url-pattern>/project_configuration_mapping</url-pattern>       
    </servlet-mapping>   
</web-app>


